:root {
    font-family: 'Noto Sans KR', sans-serif;
}

/*.app {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

a {
    color: black;
}

.all-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*  Navbar*/
.mr-auto {
    float: right;
}

.mr-auto a {
    color: black;
}

.navbar-brand {
    color: black;
}

/*Allows users to scroll through images on each owl's page*/
.scrolling-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: 15px;
    margin-bottom: -5px;
    width: 100%;
}

.scrolling {
    height: 70rem;
    padding: 15px;
    display: grid;
    grid-template-columns: 100%;
}

.scrolling-container > li,
.scrolling-item {
    scroll-snap-align: center;
    display: grid;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 2rem;
    margin: 0.2rem;
}

.scrolling-img {
    object-fit: cover;
    margin: 10px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

/*Owl profile preview formatting*/
.animal-preview {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.animal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 20rem;
    border-radius: 2rem;
}

.profile-preview {
    padding: 1rem 0.25rem 1rem 0.25rem;
    margin: 0.5rem;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 30rem;
    width: 35rem;
}

.profile-preview-name {
    font-size: 20px;
    font-weight: bold;
    padding: 0.2rem;
}

/*Profile formatting*/
.about {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.facts {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

/* Search */
.search-wrapper {
    margin: 0.5rem;
}

/*Media Screen Changes for Mobile*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 70%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: small;
        padding: 0.25rem;
    }
}

@media screen and (min-width: 375px) {
    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 75%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .all-center {
        padding: 0.25rem;
        font-size: medium;
    }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 55%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .all-center {
        padding: 0.25rem;
        font-size: medium;
    }
}

@media screen and (min-width: 420px) and (max-width: 500px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 55%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 45%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .all-center {
        padding: 0.25rem;
        font-size: large;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 35%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }
}

@media screen and (min-width: 770px) and (max-width: 1030px) {
    .animal-preview {
        width: 40%;
        padding: 0.25rem;
        margin: 0.25rem;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }
}
