:root {
    font-family: 'Noto Sans KR', sans-serif;
}

.app {
    width: 100%;
    height: 100%;
}


.badge {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: wheat;
    color: #333;
    border-radius: 5px;
}

.all-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

/* Navigation */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
    background-color: #7ea75e;
}

.navBar ul {
    display: flex;
    list-style: none;
}

.navBar a {
    color: #112c39;
    padding: 0.5rem;
    margin: 0 0.25rem;
    align-self: center;
    text-decoration: none;
}

.icon {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}

.fab, .fas {
    padding: 0.25rem;
    margin: 0.25rem;
}

.navBar .welcome span {
    margin-right: 0.6rem;
}

/*Allows users to scroll through images on each owl's page*/
.scrolling-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: 15px;
    margin-bottom: -5px;
    width: 100%;
}

.scrolling {
    height: 400px;
    padding: 15px;
    display: grid;
}

.scrolling-container > li,
.scrolling-item {
    scroll-snap-align: center;
    display: grid;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
}

.scrolling-img {
    object-fit: cover;
    margin: 10px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

/*Owl profile preview formatting*/
.animal-preview {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.animal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

.profile-preview {
    padding: 1rem 0.25rem 1rem 0.25rem;
    border: #ccc 1px ridge;
    margin: 0.5rem;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 263px;
    width: 320px;
}

.profile-preview-name {
    font-size: 20px;
    font-weight: bold;
    padding: 0.2rem;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.fa-phoenix-framework {
    display: block;
    padding: 0.25rem;
}

/*Profile formatting*/
.about {
    margin: auto;
}

.facts {
    margin: auto;
}

/*Search*/
.search-results {
    display: flex;
    flex-direction: column;
}

/*Media Screen Changes for Mobile*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: 10px;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 70%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: small;
        padding: 0.25rem;
    }
}

@media screen and (min-width: 375px) {
    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 75%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: small;
        padding: 0.25rem;
    }

    .navBar a {
        font-size: 10px;
        padding: 0;
    }

    .icon {
        width: 40px;
        margin: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: medium;
    }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: small;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 55%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: small;
        padding: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: medium;
    }
}

@media screen and (min-width: 420px) and (max-width: 500px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: small;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 55%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: small;
        padding: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: medium;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-img {
        width: auto;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: medium;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 45%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: medium;
        padding: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: large;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-img {
        width: auto;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: medium;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 90%;
        padding: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 35%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: medium;
        padding: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: large;
    }
}

@media screen and (min-width: 770px) and (max-width: 1030px) {
    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .animal-img {
        width: auto;
    }

    .icon {
        width: 40px;
    }

    .navBar {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .navBar ul {
        width: 100%;
        padding-left: 0;
    }

    .navBar a {
        font-size: large;
        padding: 0;
    }

    .search-bar {
        margin: 0.5rem;
    }

    .container {
        width: 100%;
    }

    .animal-preview {
        width: 40%;
        padding: 0.25rem;
        margin: 0.25rem;
    }

    .profile-preview {
        width: 100%;
    }

    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .about, .facts {
        font-size: medium;
        padding: 0.25rem;
    }

    .all-center {
        padding: 0.25rem;
        font-size: large;
    }
}

@media screen and (min-width: 1030px) {
    .scrolling-container {
        display: grid;
        grid-gap: 10px;
        grid-column: 2 / -2;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: minmax(150px, 1fr);
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 15px;
        margin-bottom: -5px;
        width: 100%;
    }

    .navBar a {
        font-size: large;
        padding: 0;
    }
}